@page
@model Legumaretu.Pages.ChallengesModel
@using Microsoft.AspNetCore.Identity
@using Legumaretu.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Provocări";
}

@if (SignInManager.IsSignedIn(User))
{
	<a id="addchallenge" asp-page="/AddChallenge"><i class="fa-solid fa-plus"></i> Adaugă provocare</a>
	<a id="signupforchallenge" asp-page="/SignUpForChallenge"><i class="fa-solid fa-plus"></i> Înscriere provocări</a>
}

<section class="searchfilter">
    <form asp-page="./Challenges" method="get">
        <p>Caută o provocare</p>
        <input type="text" name="searchStr" placeholder="Numele provocării..." />
        <button type="submit">Caută</button>
    </form>
    <form asp-page="./Challenges" method="get" class="pointsearch">
        <p>Filtrează după nr. maxim de pct.</p>
        <span>@Model.MinPoints</span>
        <input type="range" name="filterValue" min="@Model.MinPoints" max="@Model.MaxPoints" oninput="showPoints.value = this.value" />
        <span>@Model.MaxPoints</span>
        <output name="showPoints"></output>
        <button type="submit">Filtrează</button>
    </form>
    <form asp-page="./Challenges" method="get">
        <p>Sortează provocările</p>
        <label>
            Crescător
            <input type="radio" name="sortOrder" value="asc" />
        </label>
        <label>
            Descrescător
            <input type="radio" name="sortOrder" value="desc" />
        </label>
        <button type="submit">Sortează</button>
    </form>
</section>

<section class="challengesList">
    @if (Model.Challenges.Count() == 0 || (!SignInManager.IsSignedIn(User) && !Model.Challenges.Exists(e => e.Official)))
    {
        <p class="text-center">Nu există provocări :(</p>
    }
    else
    {
        @foreach(var challenge in Model.Challenges)
        {
            @if ((!SignInManager.IsSignedIn(User) && challenge.Official) || SignInManager.IsSignedIn(User))
            {
                <article>
                    <div class="challengeTitleDesc">
                        <div>
                            <h2>
                                @challenge.Name
                                @if (challenge.Official)
                                {
                                    <span class="fa-solid fa-circle-check" title="Provocare adăugată de moderatori"></span>
                                }
                            </h2>
                            <p>@challenge.Description</p>
                        </div>
                        <div id="challengesStats">
                            <a asp-page="/EditChallenge" asp-route-id="@challenge.Id"><i class="fa-solid fa-pen"></i></a>
                            <a asp-page="/DeleteChallenge" asp-route-id="@challenge.Id"><i class="fa-solid fa-trash"></i></a>
                            <p>@challenge.TotalPoints() p</p>
                        </div>
                    </div>
                    <div class="challengeRecipeList">
                        @if (challenge.Recipes.Count() == 0)
                        {
                            <p class="text-center">Nu există rețete în această provocare :(.</p>
                        }
                        else
                        {
                            @foreach(var recipe in challenge.Recipes)
                            {
                                <div class="challengeRecipe">
                                    <img src="@recipe.ImgLink" />
                                    <h3>
                                        <a asp-page="/Recipe" asp-route-recipeId="@recipe.Id">@recipe.Name</a>
                                        @if (@recipe.Official)
                                        {
                                            <span class="fa-solid fa-circle-check" title="Rețetă adăugată de moderatori"></span>
                                        }
                                    </h3>
                                    <div>
                                        <p>
                                            @for (int i = 0; i < @recipe.Stars; i++)
                                            {
                                                <i class="fa-solid fa-star"></i>
                                            }
                                        </p>
                                        <p>@(@recipe.Stars * 20) p</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </article>
            }
        }
    }
</section>
